body{
    padding: 0;
    margin: 0;
}

.startPage{
    background: rgb(255, 238, 238);
    height: 100vh;
    top: 1px;
    overflow: hidden;
    
}

.textAndButton{
    position: relative;
    top: 300px;
    align-items: center;
    
}
.mainText{
    text-align: center;
    color: rgb(1, 13, 24);
    top: 300px;
    font-size: 50px;
}

.button {
    text-decoration: none;
    display: block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    position: relative;
    left: 95vh;
    width: 100px;
    
}
.button:hover {
    background-position: right center;
}
